[submodule "documentation"]
	path = documentation
	url = https://github.com/ashokaarudhan/documentation
[submodule "collaboration"]
	path = collaboration
	url = https://github.com/ashokaarudhan/collaboration
[submodule "monitoring"]
	path = monitoring
	url = https://github.com/ashokaarudhan/monitoring
